@model List<Photo>
@{
  ViewData["Title"] = "Home Page";
}


<!-- Hero Section -->
<section id="hero" class="hero section">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
        @* photographer *@
        <h2><span></span><span class="underlight">Reach Out</span> for<span> Professional Photographers</span>
        </h2><br/>
        <a asp-controller="Contact" asp-action="Index" class="btn-get-started">CONTACT US<br></a>
      </div>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- Gallery Section -->
<section id="gallery" class="gallery section">
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">

      @foreach (var item in Model)
      {
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="@item.Url" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="@item.Url" title="@item.Title" class="glightbox preview-link"><i
                  class="bi bi-arrows-angle-expand"></i></a>
              @* <a asp-controller="Home" asp-action="Index" asp-route-id="@item.Id" class="details-link"><i class="bi bi-link-45deg"></i></a> *@
            </div>
          </div>
        </div>
      }

    </div>
  </div>
</section>

